.portfolioSite {
  display: grid;
  grid-template-columns:
    [col1] 1fr [col2] 5fr [col3] 1fr [col-end];
  grid-template-rows:
    [row1] 1fr
    [row2] 3fr
    [row3] 1fr
    [row-end];
  height: 100%;
}

.main {
  grid-column-start: col2;
  grid-row-start: row2;
}

