.siteHeader {
  display: flex;
  align-items: center;
  grid-column-start: col2;
  grid-row-start: row1;
}

.name {
  color: var(--darkest-grey);
  font-family: var(--header-font);
  font-size: var(--type-xx-large);
  letter-spacing: var(--sans-serif-letterspacing);
}

@media only screen and (min-width: 1024px) {
  .name {
    font-size: var(--type-medium);
  }
}
