@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|PT+Serif&display=swap");

:root {
  --header-font: "Montserrat", sans-serif;
  --serif: "PT Serif";
  --text-dark: #454759;

  --blue: #03a9f4;
  --darkest-grey: #363b41;
  --light-grey: #f9f9f9;
  --light-med-grey: #98a0ac;

  --primary-color-0: var(--blue);
  --sans-serif-letterspacing: 2px;

  --spacing: 4px;

  --type-x-small: 1rem;
  --type-small: 1.25rem;
  --type-medium: 1.5rem;
  --type-large: 2rem;
  --type-x-large: 3rem;
  --type-xx-large: 3.5rem;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--header-font);
}

body {
  background-color: #d9e3e4;
  color: var(--darkest-grey);
  font-family: var(--serif);
  font-size: var(--type-large);
  line-height: 1.75;
}

p {
  color: var(--darkest-grey);
}

a {
  color: var(--light-gray);
}

a:hover {
  color: var(--primary-color-0);
}

ul {
  margin-top: calc(var(--spacing) * 2)
}


@media only screen and (min-width: 1024px) {
  body {
    font-size: var(--type-x-small);
  }
}
