@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|PT+Serif&display=swap");

:root {
  --header-font: "Montserrat", sans-serif;
  --serif: "PT Serif";
  --text-dark: #454759;

  --blue: #03a9f4;
  --darkest-grey: #363b41;
  --light-grey: #f9f9f9;
  --light-med-grey: #98a0ac;

  --primary-color-0: var(--blue);
  --sans-serif-letterspacing: 2px;

  --type-x-small: 1em;
  --type-small: 1.25em;
  --type-medium: 1.5em;
  --type-large: 2em;
  --type-x-large: 3em;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--header-font);
}

body {
  background-color: #f5f5f5;
  color: var(--darkest-grey);
  line-height: 1.5;
}

p {
  color: var(--darkest-grey);
  font-family: var(--serif);
  font-size: var(--type-large);
  line-height: 1.75;
}

a {
  text-decoration: none;
  color: var(--light-gray);
}

li {
  font-family: var(--header-font);
  font-size: var(--type-x-small);
}

@media only screen and (min-width: 1024px) {
  p {
    font-size: var(--type-x-small);
  }
}
